@import url("banner.css");
@import url("footer.css");

body {
  font-family: 'Open Sans', sans-serif;
  color: #141414;
}
<<<<<<< HEAD

.img-icon {
  width: 20%;
  height: 20%;
}

.card {
  padding-top: 30px;
}

.container {
  margin-left: 0;
}

.form-container {
  text-align: center;
  padding: 112px;
}

.bg-orange {
  background: #FDB92C;
}
=======
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
>>>>>>> fd3ca87226be0434f844646539d41003c37afb5b
